.pokemon-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.search-clear-btn {
    border: none;
    background: transparent;
    color: #999;
    cursor: pointer;
    outline: none;
}