.pokemon-card {
  width: 200px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .pokemon-card {
    width: calc(20% - 24px);
  }
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.body-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}